<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
     {{>header}}
    <p>Error occured! {{errorMsg}}</p>
    {{>footer}}
</body>
</html>